<!--
 MIT License

 Copyright (c) 2024 VulpesCloud

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
-->

<configuration>
    <import class="de.vulpescloud.node.terminal.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
    <import class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"/>

    <conversionRule conversionWord="levelColor" class="de.vulpescloud.node.terminal.LoggingLevelConversion"/>

    <variable name="cloud.log.level" value="DEBUG"/>

    <property name="LINE_PATTERN" value="%gray([%boldWhite(%d{dd.MM HH:mm:ss.SSS}%gray(]))) %gray(%levelColor(%-5level)) %gray(:) %msg"/>

    <appender name="ConsoleAppender" class="ConsoleAppender">
        <filter class="ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="PatternLayoutEncoder">
            <pattern>${LINE_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="Rolling" class="RollingFileAppender">
        <file>local/logs/latest.log</file>
        <rollingPolicy class="SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>local/logs/vulpescloud-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>15MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="PatternLayoutEncoder">
            <pattern>[%d{dd.MM HH:mm:ss.SSS}] %-5level: %msg</pattern>
        </encoder>
    </appender>

    <root level="${cloud.log.level}">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="Rolling"/>
    </root>

    <logger name="com.zaxxer.hikari.pool.PoolBase" level="INFO"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.mariadb.jdbc" level="INFO" />
</configuration>